* {
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}

body {
    background-color: #151515;
}
.navbar{
    background-color: black;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
}
.navbar-container {
    display: flex;
    justify-content: center;
    padding: 0 50px;
    height: 100%;
    color: lightgray;
}
.navbar-btn {
    background-color: black;
    color: lightgray;
    border: none;
    outline: none;
    opacity: 1;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
}
.navbar-btn:hover {
    opacity:0.7;
}

.exit:hover {
    color: crimson;
}

.exit {
    flex: 1;
    justify-self: flex-end;
}

.go-back {
    flex: 1;
    justify-self: flex-start;
}

.navbar-title {
    flex: 9;
    justify-self: center;
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
}

.trailer-container {
    width: 90vw;
    margin: 50px 5vw;
    background-color:black;
}

.trailer {
    width:100%;
}

.container {
    margin: 10px 4vw;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    color: lightgray;
    background-color: black;
    border-radius: 10px;
}

.movie-name {
    font-size: 50px;
    font-weight: 700;
}

.showtimes-sub-title {
    display: flex;
    color: darkgray;
}

.get-tickets-btn {
    background-color: crimson;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    opacity: 1;
    width: 200px;
    margin: 20px 0;
    cursor: pointer;
}

.get-tickets-btn:hover {
    opacity: 0.7;
}

.description-header{
    font-size: 40px;
    font-weight: 700;
}

.description {
    width: 70%;
    padding: 20px 0;
}
