*{
    margin: 0;
}

body {
    background-color: #151515;
    color: lightgrey;
}

.navbar{
    background-color: black;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
}
.navbar-container {
    display: flex;
    justify-content: center;
    padding: 0 50px;
    height: 100%;
    color: lightgray;
}
.navbar-btn {
    background-color: black;
    color: lightgray;
    border: none;
    outline: none;
    opacity: 0.8;
    text-decoration: none;
    font-size: 30px;
}
.navbar-btn:hover {
    opacity: 1;
}

.exit:hover {
    color: crimson;
}

.exit {
    flex: 1;
    justify-self: flex-end;
}

.go-back {
    flex: 1;
    justify-self: flex-start;
}

.navbar-title {
    flex: 9;
    justify-self: center;
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    padding-top: 5px;
}


.movie-description {
    display: flex;
}

.movie-img {
    flex: 1;
    width: 10px;
    height: 10px;
    border-radius: center;
    padding-left: 130px;
    padding-top: 30px;
}

.movie-info-container {
    flex: 6;
    padding-right: 200px;
    padding-top: 40px;
}

.movie-title {
    font-size: 50px;
    padding-bottom: 4px;
}

.movie-info {
    font-size: 18px;
}

.ticket-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ticket-container {
    display: flex;
    text-align: center;
    padding-top: 50px;
    width: 50vw;
}

.minus-btn {
    flex: 1;
    background-color: #151515;
    color: lightgray;
    border: none;
    outline: none;
    opacity: 0.8;
    text-decoration: none;
    font-size: 30px;
    padding-left: 100px;
}

.minus-btn:hover {
    opacity: 1;
    color: lightskyblue;
}

.ticket-info {
    flex: 4;
    font-size: 30px;
}

.plus-btn {
    flex: 1;
    background-color: #151515;
    color: lightgray;
    border: none;
    outline: none;
    opacity: 0.8;
    text-decoration: none;
    font-size: 30px;
    padding-right: 100px;
}

.plus-btn:hover {
    opacity: 1;
    color: lightskyblue;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row-reverse;
    padding-left: 600px;
}

.footer-text {
    padding-right: 10px;   
}

.tickets-selected {
    padding-right: 20px;
}

.footer-btn {
    background-color: crimson;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    opacity: 1;
}

.footer-btn:hover {
    opacity: 0.6;
}



