*{
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}

body {
    background-color: #151515;
}
.navbar{
    background-color: black;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
}
.navbar-container {
    display: flex;
    justify-content: center;
    padding: 0 50px;
    height: 100%;
    color: lightgray;
}
.navbar-btn {
    background-color: black;
    color: lightgray;
    border: none;
    outline: none;
    opacity: 1;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
}
.navbar-btn:hover {
    opacity:0.7;
}

.exit:hover {
    color: crimson;
}

.exit {
    flex: 1;
    justify-self: flex-end;
}

.go-back {
    flex: 1;
    justify-self: flex-start;
}

.navbar-title {
    flex: 9;
    justify-self: center;
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
}
.showtimes-header {
    padding: 50px;
    display: flex;
    flex-direction: column;
    color: lightgray;
}

.movie-name {
    font-size: 50px;
    font-weight: 700;
}

.showtimes-sub-title {
    display: flex;
    color: darkgray;
}

.showtimes-body{
    background-color: black;
    width: 80vw;
    margin-left: 50px;
    padding: 0 20px 10px 20px;
    border-radius: 10px;
}

.showtimes-dates-container, .showtimes-container {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.showtimes-btn {
    border-radius: 20px;
    padding: 10px 20px;
    border: 2px solid white;
    color: white;
    background-color: #151515;
    margin: 5px;
    cursor: pointer;
}
.showtimes-btn:hover {
    background-color: white;
    color: black;
}

.crimson-title {
    font-size:25px;
    padding: 10px 0;
    color: crimson;
    font-weight: 500;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    padding: 15px 0;
 }

 .continue {
     margin-right: 100px;
     margin-left: auto;
     background-color: crimson;
     padding: 10px 20px;
     border-radius: 20px;
     border: none;
     outline: none;
     text-decoration: none;
     color: white;
 }
